:host{
    display: flex;
}

input{
    margin-right: 10px;
    border: none;
    outline: 0px;
    font-size: 30px;
    width: 250px;
    height: 30px;
    padding: 10px;
}

.errors{
    max-width: 1ch;
}