<div *ngFor="let character of word; let index = index">
 
    <app-display-letters 
        *ngIf="verifyCharacter(character,index) ;else previousEntriesDisplay" 
        [character]="character">
    </app-display-letters>

    <ng-template #previousEntriesDisplay>

        <app-display-letters 
            *ngIf="correctEntries[index] === word[index] ; else emptyDisplay"
            [character]="correctEntries[index]">
        </app-display-letters>

        <ng-template #emptyDisplay>    
            <app-display-letters></app-display-letters>
        </ng-template>  

    </ng-template>
    
</div>

<app-input 
    [hasWin]="hasWin"
    [disabled]="getErrors() == maxErrors"
    (receivedLetter)="sendCharacter($event)"
    (onClick)="getResult()">
</app-input>

<app-counter class="counter"   
    [enters]="getEntries()" 
    [wrongEnters]="getErrors()">
</app-counter>

<div *ngIf="hasWin || getErrors() == maxErrors">

    <app-winner-label [wins]="wins"
        [result]="hasWin"
        (resetGame)="continue()"
        (resetAll)="resetAllGame()">
    </app-winner-label>

</div>

